---
import HeaderLink from './HeaderLink.astro';
import SearchDialog from './SearchDialog.astro';
---

<header class="border-b border-border">
	<nav class="flex items-center justify-between min-h-16 w-full max-w-5xl mx-auto px-4">
		<a class="text-foreground! font-semibold no-underline" href="/">Aziz Becha</a>
		<div class="flex items-center gap-6">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog/">Blog</HeaderLink>
			<HeaderLink href="/quotes/">Quotes</HeaderLink>
			<HeaderLink href="/podcasts/">Podcasts</HeaderLink>
			<HeaderLink href="/about/">About</HeaderLink>
			<SearchDialog />
		</div>
	</nav>
</header>
